/*!
 * @name jqduang
 * @author author
 * @date 2016-06-06 01:24:45
 */
#slide {
    position: relative;

    overflow: hidden;

    width: 560px;
    height: 300px;
}
#slide .thumb {
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: 15px;
}
#slide .thumb i {
    line-height: 100;

    float: left;
    overflow: hidden;

    width: 20px;
    height: 20px;
    margin-left: 10px;

    cursor: pointer;

    border-radius: 50%;
    background: #ddd;
}
#slide .thumb i.act {
    background: #c00;
}
#slide .tit-duang {
    font-size: 14px;
    line-height: 40px;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40px;

    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .5);

    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#77000000 ', endColorstr='#77000000 ');
}
#slide .tit-duang:hover {
    text-decoration: none;
}
#slide .pagewrap {
    font-size: 18px;

    position: absolute;
    bottom: 5px;
    left: 10px;

    color: #fff;
}
#slide .prev,
#slide .next {
    font: bold 34px / 60px simsun;

    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;

    overflow: hidden;

    width: 30px;
    height: 60px;
    margin-top: -30px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #fff;
    background: rgba(0, 0, 0, .5);

    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#77000000 ', endColorstr='#77000000 ');
}
#slide .prev {
    border-radius: 0 30px 30px 0;
}
#slide .next {
    right: 0;
    left: auto; 

    border-radius: 30px 0 0 30px;
}
#slide .prev:hover,
#slide .next:hover {
    text-decoration: none;

    color: #c00;
    background: #000;
}

#scroll {
    position: relative;

    min-width: 300px;

    background: #eee;
}
#scroll .imglist {
    margin: 0 auto;
}
#scroll li {
    float: left;

    width: 150px;
    margin: 10px;

    text-align: center; 

    border-radius: 3px;
}
#scroll .imgcontrol {
    line-height: 24px;

    text-align: center;
}
#scroll .pagewrap {
    font-size: 16px;

    display: inline-block;

    vertical-align: top;
}
#scroll .thumb {
    display: inline-block;

    height: 24px;

    vertical-align: middle;
}
#scroll .thumb i {
    line-height: 100;

    display: inline-block;
    overflow: hidden;

    width: 10px;
    height: 10px;
    margin: 0 5px;

    cursor: pointer;

    border-radius: 50%;
    background: #000;
}
#scroll .thumb i.act {
    background: #c00;
}
#scroll .btns {
    margin: -30px 30px;

    text-align: right;
}
#scroll .prev,
#scroll .next {
    font: bold 18px/24px simsun;

    z-index: 10;

    display: inline-block;
    overflow: hidden;

    width: 24px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 50%;
    background: #000;
}
#scroll .prev:hover,
#scroll .next:hover {
    text-decoration: none;
}
#scroll .disabled,
#scroll .disabled:hover {
    background: #ddd;
}

:root .prev,
:root .next {
    filter: none\9;
}

/*# sourceMappingURL=..\src\css\jqduang.css.map */
